@import "../../variables";

.repository-card {
  margin-bottom: 20px;
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 10px;
    min-width: 50px;
  }

  &__details {
    display: flex;
    flex-direction: column;

    &__name {
      text-decoration: none;
      color: $gray-text;
      font-weight: bold;
      display: flex;
      align-items: center;
      &:hover {
        text-decoration: underline;
      }
    }

    &__description {
      font-size: 0.75rem;
    }
  }
}
